<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SciChart" version="5.2.2.11792" targetFramework="net45" />
  <package id="SciChart3D" version="5.2.2.11792" targetFramework="net45" />
  <package id="SciChart.DirectX" version="5.2.2.11792" targetFramework="net45" />
  <package id="SciChart.DrawingTools" version="5.2.2.11792" targetFramework="net45" />
</packages>