<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="SciChart Nightly" value="https://www.myget.org/F/abtsoftware-bleeding-edge/api/v3/index.json" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>