<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
		<add key="scichart-nightly" value="https://www.myget.org/F/abtsoftware-bleeding-edge/api/v3/index.json"/>
		<add key="xpf" value="https://xpf-nuget-feed.avaloniaui.net/v3/index.json" />
		<add key="avalonia-nightly" value="https://nuget-feed-nightly.avaloniaui.net/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<xpf>
			<add key="Username" value="license" />
			<add key="ClearTextPassword" value="[AVALONIA_LICENSE_KEY]" />
		</xpf>
	</packageSourceCredentials>
</configuration>