<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="SciChart.Charting" publicKeyToken="b55dd9efe817e823" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.3.0.11954" newVersion="5.3.0.11954" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="SciChart.Core" publicKeyToken="b55dd9efe817e823" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.3.0.11954" newVersion="5.3.0.11954" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="SciChart.Charting3D" publicKeyToken="b55dd9efe817e823" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.3.0.11954" newVersion="5.3.0.11954" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="SciChart.Data" publicKeyToken="b55dd9efe817e823" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.3.0.11954" newVersion="5.3.0.11954" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="SciChart.Drawing.DirectX" publicKeyToken="b55dd9efe817e823" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.3.0.11954" newVersion="5.3.0.11954" />

      </dependentAssembly>

    </assemblyBinding>
  </runtime>
</configuration>